div.wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
}
div.frame{
  width:84%;
  max-width:740px;
  border:1px solid #ccc;
  padding:5% 3%;
  margin:5%;
  border-radius:5px;
}
div.inner{
  width:90%;
  max-width:1000px;
  border:1px solid #ccc;
  padding:5%;
  border-radius:5px;
  background:#eee;
}
div.required,
div.option{
  margin:1% 0;
  text-align:right;
  width:30%;
}
div.required label,
div.option label{
  display:block;
  margin-bottom:2%;
}
div.required p{
  color:#fff;
  background:#fb3b6f;
  padding:2px 5px;
  border-radius:2px;
  width:35px;
  margin:0 0 0 auto;
}
div.option p{
  color:#fff;
  background:#3ba1fb;
  padding:2px 5px;
  border-radius:2px;
  width:35px;
  margin:0 0 0 auto;
}
div.items{
  padding:5px 0;
  border-bottom:1px solid #ccc;
  display:flex;
}
div.clump{
  width:65%;
  padding:0 1%;
}
div.j_h_subject,
div.h_subject
div.special_subject{
  width:100%;
  display:block;
}
div.items span{
  width:auto;
  display:inline-block;
}
div.items:first-child{
  padding:5px 0;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
div.items input[type="date"],
div.items input[type="text"],
div.items input[type="email"],
div.items input[type="password"],
div.items textarea{
  width:65%;
  padding:1%;
  margin:2% 1%;
}
div.items input[type="number"]{
  width:65%;
  padding:1%;
  margin:2% 1%;
}
div.items p{
  display:inline;
  padding:0 1%;
  margin:1% 0;
}
div.items select{
  width:69%;
  padding:1%;
  margin:2% 1%;
}
div.link_items{
  width:33%;
  padding:0 1%;
  margin:1% 0;
}
div.link_item{
  width:70%;
  padding:1%;
  margin:0;
}
div.link_item input[type="text"]{
  width:94%;
  padding:1% 2%;
  margin:1%;
}
div.link_item p{
  font-size:11px;
}
div.radios{
  display:flex;
  width:70%;
  align-items:center;
  text-align:center;
}
div.radios2{
  display:flex;
  width:100%;
  align-items:center;
  text-align:center;
}
div.radio{
  width:50%;
  text-align:center;
  display:inline;
}
div.radio_contet{
  margin:0 auto;
}
div.link_items label{
  text-align:center;
}
div.link_items p{
  display:inline;
}
div.link_items input[type="text"]{
  width:96%;
  padding:1% 0;
  margin:1% 0;
}
form button,
div.inner form input[type="submit"]{
  width:50%;
  background: #ffa035;
  border:none;
  border-radius:5px;
  padding:5px 5px;
  margin:20px 25%;
}
form button a,
div.inner form input[type="submit"]{
  display:block;
  text-decoration: none;
  font-size:20px;
  color:white;
  font-weight:700;
}
form button:hover,
div.inner form input[type="submit"]:hover{
  background: #ff8300;
}
div.waiting_button{
  width:500px;
  margin:5px auto;
  text-align:center;
  border-radius: 5px;
  background-color: #ff8300;
  padding:15px 0;
  color:white;
  font-size:20px;
  border:#ff8300 2px solid;
}
div.inner form a{
  display:block;
  text-decoration: none;
  font-size:20px;
  color:white;
  font-weight:700;
  background: #ff8300;
}
div.waiting_button:hover{
  border:black 2px solid;
}
