section{
  width:90%;
	margin:10px 4%;
	padding: 1%;
}
img{
  width:100%;
  height:auto;
}
div.summarys{
  display:flex;
  border-bottom:solid 1px black;
}
div.study_log_data{
  width:62%;
  padding:0 2%;
  margin:2%;
}
div.summary{
  width:22%;
  padding:0 2%;
  margin:2%;
}
div.summary p{
  display: block;
  width:100%;
  padding:5px 0;
}
div.summary p span{
  float:right;
}
table{
  width:100%;
}
table tr{
  text-align:center;
}
table th,td{
  border-bottom:solid 1px black;
  padding:3px 3px;
}
div.results_regist input[type="submit"]{
  background: #ffa035;
  border:none;
  border-radius:5px;
  padding:5px;
  font-size:20px;
  color:white;
  font-weight:700;
}
div.results_regist input[type="submit"]:hover{
  background: #ff8300;
}
div.results_regist input[type="text"],
div.results_regist input[type="number"]{
  padding:5px;
}
div.results_regist span{
  display:flex;
  justify-content: center;
  align-items: center;
}
input[type="date"]{
  height:25px;
}
textarea{
  width:100%;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding:5px;
  height:17px;
}
div.study_data{
  overflow:auto;
  border:1px solid black;
}
tr.data{
  border:1px black solid;
  padding:5px;
}
tr.data:hover{
  background-color:#DFF2FC;
}