div.results_regist{
  margin:20px 5%;
}
div.results_regist button{
  background: #ffa035;
  border:none;
  border-radius:5px;
  padding:5px 0;
  margin-bottom:20px;
}
div.results_regist button a{
  text-decoration: none;
  font-size:20px;
  color:white;
  font-weight:700;
}
div.results_regist button:hover{
  background: #ff8300;
}
table{
  width:90%;
  margin:30px 5%;
  text-align:center;
}
table tr td{
  border-bottom:1px solid black;
  padding:3px;
}
table tr th{
  padding:10px 0;
  border-bottom:1px solid black;
}
img{
  width:100%;
}
